<app-header></app-header>

<h1>Personnages</h1>
<app-image img="assets/sizechart.png" alt="header" artist="Newni"></app-image><br>

<h2>Personnels du « Sol Fleuri »</h2>
<p>Le « Sol Fleuri » est un orphelinat situé dans la périphérie de Chapelle d'Orée. Professeurs, surveillants et autres... voilà celleux qui y travaillent quotidiennement.</p>

<br>
<h2>Pensionnaires du « Sol Fleuri »</h2>
<p>Voici les adolescent·e·s orphelin·e·s qui vivent au « Sol Fleuri ».</p>
<div class="galerie-perso">
    <app-box perso="Txiki" img="assets/Txiki/Vukk.png"></app-box>
    <app-box perso="Mielle" img="assets/Mielle/BakaSorcery.png"></app-box>
</div>

<br>
<h2>Herboristerie</h2>
<p>L'herboristerie est voisine de l'orphelinat. Vous trouverez ci-dessous les personnages qui y vivent ou y travaillent.</p>
<div class="galerie-perso">
    <app-box perso="Linja" img="assets/Linja/oceanseas.png"></app-box>
    <app-box perso="Buster" img="assets/Buster/Cinderfall129.jpg"></app-box>
</div>

<br>
<h2>Autres rôles</h2>
<p>Ci-dessous les personnages qui n'ont pas de lien avec l'orphelinat ou l'herboristerie.</p>
<div class="galerie-perso">
    <app-box perso="Zorigaitza" img="assets/Zorigaitza/Chose_Crevette.png"></app-box>
</div>

<br>
<h2>Divinités</h2>
<p>Félicie compte dans son panthéon un certain nombre de divinité que vous pourrez trouver ci-dessous.</p>
<div class="galerie-perso">
    <app-box perso="Solémé" img="assets/Solémé/MadPixelle.png"></app-box>
    <app-box perso="Lueur" img="assets/Lueur/MistyGoldArt.png"></app-box>
</div>