<app-backarrow></app-backarrow>
<app-image img="assets/Linja/puoz.png" alt="header" artist="zoup"></app-image>

<app-langtab>
    <div lang-en>
        <app-encadre age="63 years old" size="5.4 ft" 
            desc="Linja is Buster's grandmother. They are Verveine's adoptive family. Linja is too old to continue managing the herbalist shop fully, but she helps out with tasks that require little physical effort.">
        </app-encadre>
        <app-bulletlist titre="MAGIC" [items]="[
            'Linja has nine lives that manifest in the form of blue wisps (will-o\'-the-wisps). She only has three left.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'Linja is a kind grandmother who likes to give herself a mysterious aura. She enjoys giving convoluted advice.', 
            'Linja is a goldmine of knowledge, particularly regarding plants and medicine. She was a war nurse in her youth, and then actively participated in the revolts to overthrow the monarchy in her country.',
            'Linja helps with the administration of the herbalist shop, dispensing remedies, and all the small, low-effort background tasks that keep the business running. She used to own it before Buster took over.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDEAS" [items]="[
            'Linja knitting stuffed animals for the residents of the orphanage.', 
            'Linja, settled in an armchair, reading a thick medical book the way one would read a good novel.',
            'Linja enjoying a family moment with Verveine and Buster.'
            ]">
        </app-bulletlist>
        <br>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Linja/newni.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="HUMAN FORM" [items]="[
                    'Don’t draw her looking younger, unless it is a deliberate and logical choice. On the references, the more brown hair she has, the younger she is.', 
                    'She can\'t perform intense physical tasks. She is elderly and starting to get tired.',
                    'She loves putting all kinds of plants and flowers in her hair!'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Linja/newni2.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="FERAL FORM" [items]="[
                    'Her fur is becoming grey-ish with age.', 
                    'Her longer fur is curly. She has a pretty long tail.',
                    'The three tuft of fur on her ears are a stylistic choice, feel free to translate them in your own way.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>

    <div lang-fr>
        <app-encadre age="63 ans" size="163 cm" 
            desc="Linja est la grand-mère de Buster. Ils sont la famille adoptive de Verveine. Linja est trop âgée pour continuer à s'occuper pleinement de l'herboristerie, mais elle aide avec les tâches peu physiques.">
        </app-encadre>
        <app-bulletlist titre="MAGIE" [items]="[
            'Linja a neuf vies qui se manifestent sous la forme de feux follets bleus. Il ne lui en reste que trois.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'Linja est une gentille grand-mère qui aime se donner un air mystérieux. Elle aime donner des conseils alambiqués.', 
            'Linja est une mine de savoir, notamment en ce qui concerne les plantes et la médecine. Elle a été infirmière de guerre dans sa jeunesse, puis a activement participé aux révoltes pour faire tomber la monarchie dans son pays.',
            'Linja aide à l\'administration de l\'herboristerie, à la dispense des remèdes et à toutes les petites tâches peu physiques de l\'ombre qui permettent au commerce de tourner. Elle en était propriétaire avant que Buster ne prenne le relais.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDÉES" [items]="[
            'Linja tricote des peluches pour les pensionnaires de l\'orphelinat.', 
            'Linja, installée dans un fauteuil, lit un ouvrage de médecine épais comme on lit un bon roman.',
            'Linja profite d\'un moment en famille avec Verveine et Buster.'
            ]">
        </app-bulletlist>
        <br>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Linja/newni.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="FORME HUMAINE" [items]="[
                    'Ne la dessinez pas plus jeune, sauf si c\'est un choix délibéré et logique. Sur les références, plus elle a de cheveux bruns, plus elle est jeune.', 
                    'Ne la dessinez pas en train de faire des tâches physiques intenses. Elle est âgée et commence à fatiguer.',
                    'Elle adore mettre tout un tas de plantes et de fleurs dans ses cheveux !'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Linja/newni2.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="FORME FÉLINE" [items]="[
                    'Sa fourrure devient grisonnante avec l\'âge.', 
                    'Ses poils plus longs sont bouclés. Elle a une queue assez longue.',
                    'Les trois touffes de poils sur ses oreilles sont un choix stylistique, n\'hésitez pas à les traduire à votre manière.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>
</app-langtab>

<app-image img="assets/Linja/puoz.png" alt="header" artist="zoup"></app-image>
