<app-header></app-header>

<h1>Accueil</h1>
<p>
    Bienvenue sur Les Contes de Félicie. Ce site a but de présenter le projet du même nom. Cela inclut l'univers, ses personnages et leurs aventures.<br><br>
    Ce site est maintenu par l'incroyable Lex, votre artiste dévoué. Si vous souhaitez me faire part de vos retours ou rejoindre ma communauté, je vous invite à rejoindre le Coin dessins de Lex, mon serveur Discord ! Vos encouragements sont mon meilleur soutien.
    <br>
</p>

<a href="https://discord.gg/AECpnHhF2d">Rejoindre le Coin dessin de Lex !</a>

<p>
    Je vous souhaite une excellente navigation !
    <br>
    Lex
</p>
