<app-backarrow></app-backarrow>
<app-image img="assets/Lueur/Rosvarinn.png" alt="header" artist="Rosvarinn"></app-image>

<app-langtab>
    <div lang-en>
        <app-encadre age="Ageless" size="None" 
            desc="Lueur is a deity of the Félicie cult representing fire, warmth, endings, courage and hope, the forge, and weapons.">
        </app-encadre>
        <app-bulletlist titre="MAGIC" [items]="[
            'Lueur possesses many powers, besides being able to set ablaze anything in their path.', 
            'Lueur has the power to grant the strength to move forward and to guide souls through life\'s battles.',
            'It is said that Lueur also has the capacity to bring an end to all things.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'People believe in their presence around flames.', 
            'Lueur is particularly revered in forges and within the metallurgy community. A festival is dedicated to them during the winter solstice: people pray to them for the return of warmer days, and braziers are lit in public squares. It is said that Lueur is the one who awakens spring.',
            'Lueur is also the deity of war, although this aspect has become less prominent in their symbolism over time. The tiger ravages and leaves nothing but ashes behind. At the beginning of a battle, a large fire is lit to call upon the fierce spirit of Lueur to fight on the side of men.',
            'Lueur also symbolizes all finished things; they are born, they burn, and they go up in smoke. What has burned does not return, just like those who have died. Thus, during funeral ceremonies, candles are lit, and people gather to pay their respects to the deceased until the very last trails of smoke disappear.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDEAS" [items]="[
            'Any symbolic representation is welcome.', 
            'As a deity, people regularly represent Lueur in their everyday objects: a painted plate, an ornate chair back, an engraved weapon...'
            ]">
        </app-bulletlist>
        <br>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Lueur/Vukk.png" alt="Référence" artist="Vukk"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="USUAL DESIGN" [items]="[
                    'Lueur is an idea more than a flesh-and-blood being, and their appearance may vary slightly depending on the region.', 
                    'You can alter the design as long as you keep the general tiger shape and the gradient from fire to smoke.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>

    <div lang-fr>
        <app-encadre age="Éternel" size="Aucune" 
            desc="Lueur est une divinité du culte de Félicie représentant le feu, la chaleur, la fin, le courage et l'espoir, la forge et les armes.">
        </app-encadre>
        <app-bulletlist titre="MAGIE" [items]="[
            'Lueur possède bien des pouvoirs, outre celui de pouvoir embraser ce qui se trouve sur son passage.', 
            'Lueur a le pouvoir de donner la force d\'avancer et de guider les âmes à travers les combats de la vie.',
            'Lueur a la capacité de mettre fin à toute chose, dit-on.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'On croit en sa présence autour des flammes.', 
            'Lueur est particulièrement vénérée dans les forges et le milieu de la métallurgie. Une fête lui est dédiée au solstice d\'hiver : on la prie pour le retour des beaux jours et on allume des braseros sur les places. On dit que c\'est Lueur qui réveille le printemps.',
            'Lueur est également la divinité de la guerre, bien que cet aspect soit de moins en moins présent dans sa symbolique au fil du temps. Le tigre ravage et ne laisse que des cendres derrière lui. Au début des combats, on allume un grand feu pour appeler l\'esprit féroce de Lueur pour qu\'il combatte du côté des hommes.',
            'Lueur symbolise également toutes les choses finies, elles naissent, brûlent et repartent en fumée. Ce qui a brûlé ne revient pas, tout comme ceux qui sont morts. Ainsi, lors des cérémonies funéraires, on allume des bougies et l\'on se recueille auprès du défunt jusqu\'aux dernières fumées.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDÉES" [items]="[
            'Toutes les représentations symboliques sont les bienvenues.', 
            'En tant que divinité, les gens représentent régulièrement Lueur dans leurs objets du quotidien : une assiette peinte, un dossier de chaise orné, une arme gravée, ...'
            ]">
        </app-bulletlist>
        <br>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Lueur/Vukk.png" alt="Référence" artist="Vukk"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="FORME USUELLE" [items]="[
                    'Lueur est une idée plus qu\'un être de chair, et son apparence peut légèrement varier selon les régions.', 
                    'Vous pouvez modifier le design à condition de garder la forme générale du tigre et le dégradé du feu vers la fumée.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>
</app-langtab>

<app-image img="assets/Lueur/Rosvarinn.png" alt="header" artist="Rosvarinn"></app-image>
