<app-backarrow></app-backarrow>
<app-image img="assets/Mielle/Yhmay.jpg" alt="header" artist="Yhmay"></app-image>

<app-langtab>
    <div lang-en>
        <app-encadre age="12 years old" size="4.6 ft" 
            desc="Mielle has been living at the orphanage for less than a year to find their way. Even though they have a great imagination, they find it difficult to think about their future.">
        </app-encadre>
        <app-bulletlist titre="NOTES" [items]="[
            'Mielle is often considered foolish because they spend a lot of time daydreaming or staring into space. They are particularly terrible at school and frequently give surprising answers to questions they are asked.', 
            'Mielle is an artist at heart. They see creatures and stories where nobody else imagines them. They have hyperphantasia.',
            'Mielle is rather immature; they can throw tantrums if something upsets them or pout like a child. Mielle is a crybaby.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDEAS" [items]="[
            'Mielle with their imagination; you are free to choose how to represent their soft and colorful inner universe.', 
            'Mielle doing a math exercise but failing completely. They are disheartened and doodle on their sheet.',
            'Mielle with wide eyes full of crocodile tears, throwing a tantrum.'
            ]">
        </app-bulletlist>
        <br>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Mielle/newni.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="HUMAN FORM" [items]="[
                    'Mielle suffers from androgen insensitivity syndrome. Do not draw Mielle as too masculine or feminine; they still have the distinct round face of a child.',
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>

    <div lang-fr>
        <app-encadre age="12 ans" size="136 cm" 
            desc="Mielle vit à l'orphelinat depuis moins d'un an pour y trouver sa voie. Même si ol a beaucoup d'imagination, ol a du mal à penser à son futur.">
        </app-encadre>
        <app-bulletlist titre="NOTES" [items]="[
            'Mielle est souvent considéré comme stupide car ol passe beaucoup de temps à rêvasser ou à regarder dans le vide. Ol est particulièrement nul scolairement et répond souvent de façon surprenante aux questions qu\'on lui pose.', 
            'Mielle est un artiste dans l\'âme. Ol voit des créatures et des histoires là où personne d\'autre ne les imagine. Ol est atteint d\'hyperphantasie.',
            'Mielle est plutôt immature, ol peut faire des crises de colère si quelque chose le contrarie ou se bouder comme un enfant. Mielle est un pleurnichard.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDÉES" [items]="[
            'Mielle avec son imagination, libre à vous de la façon de représenter son univers intérieur doux et coloré.', 
            'Mielle réalise un exercice de mathématiques mais n\'y arrive pas du tout. Ol est dépité et dessine sur sa feuille.',
            'Mielle avec des grands yeux plein de larmes de crocodile, en train de faire son caprice.'
            ]">
        </app-bulletlist>
        <br>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Mielle/newni.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="FORME HUMAINE" [items]="[
                    'Mielle souffre du syndrome d\'insensibilité aux androgènes. Ne dessinez pas Mielle trop masculin ou féminin, ol a encore une bouille bien ronde d\'enfant.', 
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>
</app-langtab>

<app-image img="assets/Mielle/Yhmay.jpg" alt="header" artist="Yhmay"></app-image>
