<app-backarrow></app-backarrow>
<app-image img="assets/Solémé/MadPixelle.gif" alt="header" artist="MadPixelle"></app-image>

<app-langtab>
    <div lang-en>
        <app-encadre age="Ageless" size="None" 
            desc="Solémé is a deity of the Félicie cult representing the ocean and the sea, the marine ecosystem, fishing, and storms. It is a deity perceived as fickle.">
        </app-encadre>
        <app-bulletlist titre="MAGIC" [items]="[
            'Solémé commands the sea and marine creatures.', 
            'Solémé can summon storms or calm the waves, bring fish or ruin a harvest, shatter boats or guide them safely to port.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'Solémé is a highly important deity in Chapelle d\'Orée, the largest port city of Félicie, where many fishermen are established.', 
            'When Solémé signifies an abundant catch, calm seas, and mercy, they are usually represented in a humanoid form.',
            'When the sky turns dark, waves rage, and sea monsters devour boats, their form is instead bestial.',
            'Solémé is connected to the number 3.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDEAS" [items]="[
            'Any symbolic representation is welcome.', 
            'As a deity, people regularly represent Solémé in their everyday objects: a painted plate, an ornate chair back, a decorated boat sail...'
            ]">
        </app-bulletlist>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Solémé/vukk.png" alt="Référence" artist="Vukk"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="HUMANOID FORM" [items]="[
                    'Solémé is usually depicted this way when they refer to positive things.', 
                    'Solémé is more of an idea than a physical being, and their appearance may vary slightly depending on the region. You are therefore free to modify their design as long as you retain their distinctive features.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>

    <div lang-fr>
        <app-encadre age="Éternel" size="Aucune" 
            desc="Soléme est une divinité du culte de Félicie représentant l'océan et la mer, l'écosystème marin, la pêche et les tempêtes. C'est une divinité perçue comme capricieuse.">
        </app-encadre>
        <app-bulletlist titre="MAGIE" [items]="[
            'Solémé commande à la mer et aux êtres marins.', 
            'Solémé peut faire jaillir des tempêtes ou calmer les vagues, apporter le poisson ou ruiner une pêche, briser les bateaux ou les mener à bon port'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'Solémé est une divinité très importante à Chapelle d\'Orée, plus grande ville portuaire de Félicie où de très nombreux pêcheurs sont établis.', 
            'Lorsque Solémé signifie l\'abondance de la pêche, la mer calme et sa clémence, on la représente plutôt sous forme humanoïde.',
            'Quand le ciel est sombre, que les vagues se déchaînent et que les monstres marins croquent les bateaux, sa forme est plutôt bestiale.',
            'Solémé est lié au chiffre 3.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDÉES" [items]="[
            'Toutes les représentations symboliques sont les bienvenues.', 
            'En tant que divinité, les gens représentent régulièrement Solémé dans leurs objets du quotidien : une assiette peinte, un dossier de chaise orné, une voile de bateau décorée, ...'
            ]">
        </app-bulletlist>

        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Solémé/vukk.png" alt="Référence" artist="Vukk"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="FORME HUMANOÏDE" [items]="[
                    'Solémé est plutôt représenté sous cette forme lorsqu\'al évoque des choses positives.', 
                    'Solémé est une idée plus qu\'un être de chair, et son apparence peut légèrement varier selon les régions. Vous êtes donc libre de modifier le design à condition de garder les éléments caractéristiques.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>
</app-langtab>

<app-image img="assets/Solémé/Velichorus.png" alt="header" artist="Velichorus"></app-image>