<app-backarrow></app-backarrow>
<app-image img="assets/Txiki/fyrenos2.png" alt="header" artist="fyrenos"></app-image>

<app-langtab>
    <div lang-en>
        <app-encadre age="16 years old" size="6.11 ft(human) | 8.2 ft (equine)"
            desc="Txiki has been living at the orphanage for four years and wishes to become a farmer. He is currently training under Kaosa and a market gardener.">
        </app-encadre>
        <app-bulletlist titre="MAGIC" [items]="[
            'Txiki can predict the weather and the direction of the wind.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'Txiki stutters. He sometimes uses sign language with those who are comfortable with it.', 
            'He is timid and reserved, speaking very little out of fear that people will make fun of him.',
            'He is kind and helpful. He is a simple person who likes to lie down after a hard day\'s work, appreciating what he has accomplished. This sometimes gives the impression that he is naive or foolish.',
            'Txiki is skilled at logical problem-solving and can be stubborn when he has a strong opinion on a matter (which does not happen often).',
            'He loves spending time in nature and making flower bouquets. He is generally well-liked by animals.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDEAS" [items]="[
            'Txiki sowing seeds, watering sprouts, raking, or gardening. He can be drawn with dirt on his clothes or his legs.', 
            'Txiki having a conversation in sign language with Soren. She is the one who taught him; he was her very first student.',
            'Txiki in his equine form carrying heavy loads or playing with other youths.'
            ]">
        </app-bulletlist>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Txiki/newni.jpg" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="HUMANOID FORM" [items]="[
                    'Txiki is strong, tall, and doesn\'t go unnoticed. He is well-built with broad shoulders.', 
                    'Txiki is a were-hippalectryon. He has a bird tail and bird legs.',
                    'You are free to change the floral arrangement holding his ponytail or give him an alternative hairstyle.',
                    'His pupils are horizontal.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
                <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Txiki/fyrenos3.jpg" alt="Référence" artist="fyrenos"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="EQUINE FORM" [items]="[
                    'Txiki\'s equine form is a cross between a draft horse and a griffon vulture (Gypt fulvus).', 
                    'You can decorate his mane. The color of his hair is natural, please keep it.',
                    'His pupils are horizontal.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>

    <div lang-fr>
        <app-encadre age="16 ans" size="212 cm (humain) | 248 cm (équidé)" 
            desc="Txiki vit à l'orphelinat depuis quatre ans et souhaite devenir fermier. Il se forme auprès de Kaosa et d'un maraîcher.">
        </app-encadre>
        <app-bulletlist titre="MAGIE" [items]="[
            'Txiki peut prédire la météo et le sens du vent.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'Txiki est bègue. Il utilise parfois la langue des signes avec celleux qui sont à l\'aise avec.', 
            'Il est timide et réservé, il parle assez peu de peur qu\'on se moque de lui.',
            'Il est gentil et serviable. C\'est quelqu\'un de simple qui aime se coucher après une journée de dur labeur en appréciant ce qu\'il a réalisé. Cela donne parfois l\'impression qu\'il est naïf ou idiot.',
            'Txiki est doué en résolution de problèmes logiques et peut se montrer têtu quand il a un avis tranché sur une question (ce qui n\'arrive pas souvent).',
            'Il aime passer du temps dans la nature, faire des bouquets de fleurs. Il est généralement apprécié des animaux.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDÉES" [items]="[
            'Txiki sème des graines, arrose des pousses, ratise ou jardine. Il peut être dessiné avec de la terre sur ses vêtements ou ses pattes.', 
            'Txiki a une discussion signée avec Soren. C\'est elle qui lui a appris, c\'est son tout premier élève.',
            'Txiki sous forme équine porte de lourdes charges ou joue avec d\'autres jeunes.'
            ]">
        </app-bulletlist>

        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Txiki/newni.jpg" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="FORME HUMANOÏDE" [items]="[
                    'Txiki est costaud, grand et ne passe pas inaperçu. Il est bien bâti avec de larges épaules.', 
                    'Txiki est un hippalectryon-garou. Il a une queue et des pattes d\'oiseau.',
                    'Vous êtes libres de changer la composition florale qui tient sa queue de cheval ou de lui donner une coiffure alternative.',
                    'Ses pupilles sont horizontales.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Txiki/fyrenos3.jpg" alt="Référence" artist="fyrenos"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="FORME ÉQUINE" [items]="[
                    'La forme équine de Txiki est un croisement entre un cheval de trait et un vautour fauve (Gypt fulvus).', 
                    'Vous pouvez décorer ses crins. La couleur de ses crins est naturelle, merci de la conserver.',
                    'Ses pupilles sont horizontales.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>
</app-langtab>

<app-image img="assets/Txiki/fyrenos.png" alt="header" artist="fyrenos"></app-image>