<app-backarrow></app-backarrow>
<app-image img="assets/Buster/newni5.png" alt="header" artist="Newni"></app-image>

<app-langtab>
    <div lang-en>
        <app-encadre age="22 years old" size="5.8 ft"
            desc="Buster lives and works at the herbalist shop; he is its owner. He is in a relationship with Verveine, though their relationship is not allowed in their world. He is Linja's grandson.">
        </app-encadre>
        <app-bulletlist titre="MAGIC" [items]="[
            'Buster has nine lives that manifest as blue wisps. He has eight lives left.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'Buster is an introverted and solitary young man. At first glance, he is calm, neutral, and taciturn. His natural politeness makes him pleasant and approachable. He isn\'t cold; he simply leaves an impression of reserve and quietude.', 
            'Buster is a responsible and serious person; he does his best to make the people around him feel good. Since he has eight lives, he sometimes feels that he can neglect himself to improve the lives of others.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDEAS" [items]="[
            'A family moment with Verveine and Linja.', 
            'Buster and Verveine enjoying a moment away from prying eyes.',
            'Buster maintaining the garden (watering, weeding, harvesting…).',
            'Buster slumped in an armchair, consulting a herbarium or a thick encyclopedic book.',
            'Buster and Félix preparing a brew, a medicine, etc. Buster can optionally guide Félix through the process.',
            'Buster and Silène staring each other down like cats and dogs. Silène seems upset.'
            ]">
        </app-bulletlist>
        <br>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Buster/newni.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="CAT FORM" [items]="[
                    'Buster\'s ears feature three tufts/spikes.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Buster/newni2.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="WORK OUTFITS" [items]="[
                    'Buster\'s outfit varies depending on what he is doing.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Buster/newni3.png" alt="Taille" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="EVERYDAY LIFE OUTFIT" [items]="[]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Buster/newni4.png" alt="Taille" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="CASUAL OUTFIT" [items]="[]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>

    <div lang-fr>
        <app-encadre age="22 ans" size="173 cm" 
            desc="Buster vit et travaille à l'herboristerie, il en est le propriétaire. Il est en couple avec Verveine, leur relation n'est pas autorisée dans leur monde. Il est le petit-fils de Linja.">
        </app-encadre>
        <app-bulletlist titre="MAGIE" [items]="[
            'Buster a neuf vies qui se manifestent par des feux follets bleus. Il lui reste huit vies.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'Buster est un jeune homme introverti et solitaire. À première vue, il est calme, neutre et taciturn. Sa politesse naturelle en fait quelqu’un d’agréable, d’accessible. Il n’est pas froid, il laisse simplement cette impression de réserve et de quiétude.',
            'Buster est quelqu\'un de responsable et sérieux, il fait de son mieux pour que les gens autour de lui se sentent bien. Comme il a huit vies, il a parfois le sentiment qu\'il peut se négliger pour améliorer la vie des autres.',
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDÉES" [items]="[
            'Un moment en famille avec Verveine et Linja.', 
            'Buster et Verveine qui profitent d’un moment à l’abri des regards.',
            'Buster entretient le jardin (arrosage, désherbage, cueillette …).',
            'Buster est avachi dans un fauteuil en train de consulter un herbier ou un gros pavé encyclopédique.',
            'Buster et Félix préparent un breuvage, un médicament, etc. Buster peut éventuellement guider Félix dans la réalisation.',
            'Buster et Silène se regardent en chien de faïence. Silène semble contrarié.'
            ]">
        </app-bulletlist>
        <br>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Buster/newni.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="FORME FÉLINE" [items]="[
                    'Les oreilles de Buster comportent trois épis.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Buster/newni2.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="TENUES DE TRAVAIL" [items]="[
                    'La tenue de Buster varie selon ce qu’il fait.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Buster/newni3.png" alt="Taille" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="TENUE QUOTIDIENNE" [items]="[]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Buster/newni4.png" alt="Taille" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="PYJAMA" [items]="[]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>
</app-langtab>

<app-image img="assets/Buster/newni5.png" alt="header" artist="Newni"></app-image>