:root{
    --bg-color: rgb(219, 209, 201);
    --accent-color-light : rgb(180, 18, 61);
    --accent-color: rgb(134, 10, 43);
    --accent-color-darker: rgb(93, 7, 30);
}

* {
    font-family: 'Courier New', Courier, monospace;
}

/*General*/
body {
    margin: 20px;
    background-color: var(--bg-color);
    line-height: 1.2;
}

h1, h2, h3 {
    text-align: center;
}

h1, h2 {
    color: var(--accent-color-darker)
}

h3 {
    color: var(--accent-color);
}

p {
    text-align: justify;
}

a {
    color: var(--accent-color-light);
}

a:hover {
    color: var(--accent-color-darker);
}