<app-backarrow></app-backarrow>
<app-image img="assets/Zorigaitza/newni.gif" alt="header" artist="Newni"></app-image>

<app-langtab>
    <div lang-en>
        <app-encadre age="41 years old" size="5.9 ft"
            desc="Zorigaitza is the mayor of Chapelle d'Orée. He is a former nobleman, although he hasn’t retained much of that background. He lives alone in a house in the town centre. However, he spends more time away from home than at home. Before being elected, he was a bookseller.">
        </app-encadre>
        <app-bulletlist titre="MAGIC" [items]="[
            'Zorigaitza can breathe fire and warm the air around him.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'Zorigaitza lives alone, although he would have liked to start a family. He suffers greatly from this loneliness, which he tends to drown out with work.', 
            'He does things for the underprivileged and helps those in need through his work as mayor. He is aware of people’s suffering. However, he can find it a little difficult to express his empathy sincerely, a shortcoming he compensates for with a certain ease with social conventions. He is generally awkward when it comes to matters of the heart.',
            'Zorigaitza loves reading; he is passionate about the history of Chapelle d’Orée and its legends. He is often seen as a bit of a nerd on the subject.',
            'He speaks well and is very comfortable speaking in public. His speeches are convincing, and he manages very well to hide his nerves when speaking in public.',
            'He is a bit stubborn; it is difficult to change his mind, and he sometimes finds it a bit hard to question his own views.',
            'Everyone calls him by his honorary title of mayor because no one can pronounce his name.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDEAS" [items]="[
            'Zorigaitza is giving a speech to a group of villagers.', 
            'Zorigaitza is sitting in an armchair, reading a thick book on the history of the town.',
            'Zorigaitza is tidying up his impressive personal library. He nearly gets crushed by a pile of books.',
            'Zorigaitza is chatting with people and suddenly bombards them with information about the town’s past.',
            'Zorigaitza signs paperwork by candlelight.'
            ]">
        </app-bulletlist>
        <br>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Zorigaitza/newni2.png" alt="Référence" artist="Newni" [spoiler]="true"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="NUDE REFERENCE" [items]="[
                    'Zorigaitza has salamander-like markings on his skin. He has a beard and wavy hair.',
                    'Don’t draw him looking any younger – he’s already got a few wrinkles!'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Zorigaitza/newni.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="MAYOR OUTFIT" [items]="[
                    'Don\'t put makeup on him, he is allergic.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Zorigaitza/newni3.png" alt="Taille" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="EVERYDAY LIFE OUTFIT" [items]="[
                    'His earrings are optional (he usually wears them when he’s in private).',
                    'Don\'t put makeup on him, he is allergic.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>

    <div lang-fr>
        <app-encadre age="41 ans" size="175 cm" 
            desc="Zorigaitza est le maire de Chapelle d'Orée. C'est un ancien noble, bien qu'il n'ait pas gardé grand-chose de ses origines. Il vit seul dans une maison du centre-ville. Cependant, il passe plus de temps à l'extérieur de chez lui qu'à l'intérieur. Avant d'être élu, il était libraire.">
        </app-encadre>
        <app-bulletlist titre="MAGIE" [items]="[
            'Zorigaitza peut cracher du feu et réchauffer l\'air autour de lui.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="NOTES" [items]="[
            'Zorigaitza vit seul, bien qu\'il aurait aimé fonder une famille. Il souffre beaucoup de cette solitude, qu\'il a tendance à noyer dans le travail.',
            'Il agit pour les plus démunis et aide les personnes dans le besoin à travers son travail de maire. Il est conscient de la souffrance des gens. Cependant, il peut avoir un peu de mal à exprimer sa sincère empathie, un défaut qu\'il compense par une certaine aisance avec les conventions sociales. Il est généralement maladroit lorsqu\'il s\'agit d\'affaires de cœur.',
            'Zorigaitza adore lire ; il est passionné par l\'histoire de Chapelle d’Orée et ses légendes. Il est souvent perçu comme un peu nerd sur le sujet.',
            'Il s\'exprime bien et est très à l\'aise pour parler en public. Ses discours sont convaincants, et il réussit très bien à masquer son stress lorsqu\'il s\'exprime devant une foule.',
            'Il est un peu têtu ; il est difficile de lui faire changer d\'avis, et il a parfois du mal à remettre en question ses propres points de vue.',
            'Tout le monde l\'appelle par son titre honorifique de maire parce que personne n\'arrive à prononcer son nom.'
            ]">
        </app-bulletlist>
        <app-bulletlist titre="IDÉES" [items]="[
            'Zorigaitza prononce un discours devant un groupe de villageois.', 
            'Zorigaitza est assis dans un fauteuil, lisant un épais ouvrage sur l\'histoire de la ville.',
            'Zorigaitza range son impressionnante bibliothèque personnelle. Il manque de se faire écraser par une pile de livres.',
            'Zorigaitza discute avec des gens et les bombarde soudainement d\'informations sur le passé de la ville.',
            'Zorigaitza signe des documents officiels à la lueur d\'une bougie.'
            ]">
        </app-bulletlist>
        <br>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Zorigaitza/newni2.png" alt="Référence" artist="Newni" [spoiler]="true"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="REFERENCE NUE" [items]="[
                    'Zorigaitza a des marques semblables à celles d\'une salamandre sur la peau. Il a une barbe et des cheveux ondulés.',
                    'Ne le dessinez pas plus jeune : il a déjà quelques rides !'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Zorigaitza/newni.png" alt="Référence" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="MAYOR OUTFIT" [items]="[
                    'Ne lui ajoutez pas de maquillage, il y est allergique.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
        <app-flexbox sidePosition="left">
            <div side>
                <app-image img="assets/Zorigaitza/newni3.png" alt="Taille" artist="Newni"></app-image>
            </div>
            <div content>
                <app-bulletlist titre="EVERYDAY LIFE OUTFIT" [items]="[
                    'Ses boucles d\'oreilles sont optionnelles (il les porte généralement lorsqu\'il est en privé).',
                    'Ne lui ajoutez pas de maquillage, il y est allergique.'
                    ]">
                </app-bulletlist>
            </div>
        </app-flexbox>
    </div>
</app-langtab>

<app-image img="assets/Zorigaitza/MadPixelle.gif" alt="header" artist="MadPixelle"></app-image>